
nav{
    padding:0 8px;
    height:72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap:24px;
  font-weight: 500;
}